---
version: 3

images:
  base_image:
    name: registry.redhat.io/ansible-automation-platform-26/ee-minimal-rhel9:latest

dependencies:
  python_interpreter:
    package_system: python3.11
    python_path: /usr/bin/python3.11
  ansible_core:
    package_pip: ansible-core==2.18.11
  python: requirements.txt
  system: bindep.txt
  galaxy: requirements.yml

options:
  package_manager_path: /usr/bin/microdnf
