[galaxy]
ignore_certs = true
server_list = private_hub_rh_certified, private_hub_validated, private_hub_community

[galaxy_server.private_hub_rh_certified]
url = https://aap.lab.holtit-home.com/api/galaxy/content/rh-certified/
# Token: set ANSIBLE_GALAXY_SERVER_PRIVATE_HUB_RH_CERTIFIED_TOKEN as a repository secret

[galaxy_server.private_hub_validated]
url = https://aap.lab.holtit-home.com/api/galaxy/content/validated/
# Token: set ANSIBLE_GALAXY_SERVER_PRIVATE_HUB_VALIDATED_TOKEN as a repository secret

[galaxy_server.private_hub_community]
url = https://aap.lab.holtit-home.com/api/galaxy/content/community/
# Token: set ANSIBLE_GALAXY_SERVER_PRIVATE_HUB_COMMUNITY_TOKEN as a repository secret
